<h3>Evolução</h3>
<div class="btnAddDelEvo">
    <a class="btnAdd" title="Adicionar Evolução"></a>
</div>

<div id="divEvo">
    <ul>
        {{#each evolucoes}}
        <li>
            <input type="hidden" name="_id" value="{{_id}}" />
            <div>
                <label>Data</label>
                <input type="text" name="dataEvolucao" value="{{dataEvolucao}}" maxlength="10" class="M" filter="data" />
            </div>
            <div>
                <label>Descrição</label>
                <textarea name="descricao" maxlength="2000">{{descricao}}</textarea>
            </div>
        </li>
        {{/each}}
        <li>
            <div>
                <label>Data</label>
                <input type="text" name="dataEvolucao" maxlength="10" class="M" filter="data" />
            </div>
            <div>
                <label>Descrição</label>
                <textarea name="descricao" maxlength="2000">{{descricao}}</textarea>
            </div>
        </li>

    </ul>
</div>

<a class="btnAzul" href="#">SALVAR</a>