<input type="text" id="busca" maxlength="" class="M busca">

<div id="divPacientes">
    <ul>
        {{#each pacientes}}
            {{> @partial-block }}
        {{/each}}
    </ul>
</div>

<script>
    $(function () {
        var timer = null

        $("#busca").keyup(function (e) {
            e.preventDefault()
            clearTimeout(timer)
            timer = setTimeout(function () {
                findPacientes(this.value)
                $('#divPacientes').removeAttr('selectedId')
            }.bind(this), 500)
        })

        $(document).on('click', "#divPacientes ul li", function () {
            $(this).siblings().removeClass("select")
            $(this).toggleClass("select")
            var selectedId = $(this).attr("id")
            $('#divPacientes').attr('selectedId', function (i, value) {
                return value == selectedId ? null : selectedId
            })
        })
    })
</script>