<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html charset=utf-8" />
    <title>Emilly Lins - Psicóloga</title>
    <meta name="author" content="Sérgio" />
    <link href="/css/bootstrap.css" type="text/css" rel="Stylesheet" />
    <link href="/css/style.css" type="text/css" rel="Stylesheet" />
    <link href="/css/jquery.loading.min.css" type="text/css" rel="Stylesheet" />
    <link rel="shortcut icon" href="/favicon.ico" />

    <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/js/jquery.mask.min.js"></script>
    <script type="text/javascript" src="/js/jquery.loading.min.js"></script>

</head>

<body>

    <div class="alert alert-success" id="ajax-success" style="display: none">
        <button type="button" class="close">×</button>
    </div>
    <div class="alert alert-danger" id="ajax-errors" style="display: none">
        <button type="button" class="close">×</button>
    </div>

    {{{body}}}

</body>

<script>
    function displayErrorMessage(message) {
        var div = createDivMessage(message)
        $("#ajax-success").hide()
        $("#ajax-errors>div").remove()
        $("#ajax-errors").append(div).show()
    }

    function displaySuccessMessage(message) {
        var div = createDivMessage(message)
        $("#ajax-errors").hide()
        $("#ajax-success>div").remove()
        $("#ajax-success").append(div).show()
    }

    function createDivMessage(message) {
        var div = $("<div>")
        if (Array.isArray(message)) {
            var ul = $("<ul>").appendTo(div)
            for (var i in message) {
                var li = $("<li>").appendTo(ul)
                li.html(message[i])
            }
        } else {
            div.html(message)
        }
        return div
    }

    $(function () {

        $(document).ajaxStart(function () {
            $('body').loading({ stoppable: true });
        })

        $(document).ajaxStop(function () {
            $('body').loading("stop");
        })

        $(document).ajaxSuccess(function (e, req) {
            if (req.responseJSON) {
                if (req.responseJSON.redirectUrl) {
                    window.location.href = req.responseJSON.redirectUrl
                }
                if (req.responseJSON.successMessage) {
                    displaySuccessMessage(req.responseJSON.successMessage)
                }
            }
        })

        $(document).ajaxError(function (e, req) {
            if (req.responseJSON) {
                if (req.responseJSON.redirectUrl) {
                    window.location.href = req.responseJSON.redirectUrl
                }
                if (req.responseJSON.errorMessage) {
                    displayErrorMessage(req.responseJSON.errorMessage)
                }
            }
        })

        $(document).on('click', '.alert .close', function (e) {
            $(this).siblings().remove()
            $(this).parent().hide()
        })

        $(document).on("focus", "input[filter=data]", function () { $(this).mask("00/00/0000") })

        $("input[filter=idade]").mask("000")
        $("input[filter=cpf]").mask('000.000.000-00', { reverse: true })
        $("input[filter=cep]").mask('00000-000')

        var maskBehavior = function (val) {
            return val.replace(/\D/g, '').length === 11
                ? '(00) 00000-0000'
                : '(00) 0000-00009'
        }

        $("input[filter=phone]").mask(
            maskBehavior,
            {
                onKeyPress: function (val, e, field, options) {
                    field.mask(maskBehavior.apply({}, arguments), options);
                }
            });


        $("textarea[maxlength]").on("propertychange input", function () {
            if (this.value.length > this.maxlength) {
                this.value = this.value.substring(0, this.maxlength);
            }
        });

    })
</script> {{#if successMessage}}
<script>displaySuccessMessage('{{successMessage}}')</script> {{/if}} {{#if errorMessage}}
<script>displayErrorMessage('{{errorMessage}}')</script> {{/if}} {{#if error}}
<script>displayErrorMessage('{{error}}')</script> {{/if}}

</html>