<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Emilly Lins - Psicóloga</title>
    <meta name="author" content="Sérgio" />
    <link href="/css/bootstrap.css" type="text/css" rel="Stylesheet" />
    <link href="/css/style.css" type="text/css" rel="Stylesheet" />
    <link rel="shortcut icon" href="/favicon.ico" />


    <script type="text/javascript" src="/js/jquery-1.11.3.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <script type="text/javascript" src="/js/jquery.mask.js"></script>
</head>

<body>
    {{#if success_msg}}
    <div class="alert alert-success">
        {{success_msg}}
        <a href="#close" class="icon-remove"></a>
    </div>
    {{/if}} 
    {{#if error_msg}}
    <div class="alert alert-danger">
        {{error_msg}}
        <a href="#close" class="icon-remove"></a>
    </div>
    {{/if}} 
    {{#if error}}
    <div class="alert alert-danger">
        {{error}}
        <a href="#close" class="icon-remove"></a>
    </div>
    {{/if}} 
    
    {{{body}}}
    
</body>

<script>
    $("input[filter=idade]").mask("000")
    $("input[filter=data]").mask("00/00/0000")
    $("input[filter=cpf]").mask('000.000.000-00', { reverse: true })
    $("input[filter=cep]").mask('00000-000')
    $("input[filter=phone]").mask(
        function (val) {
            return val.replace(/\D/g, '').length === 11 
                ? '(00) 00000-0000' 
                : '(00) 0000-00009';
        },
        {
            onKeyPress: function (val, e, field, options) {
                field.mask(SPMaskBehavior.apply({}, arguments), options);
            }
        });

    $("textarea[maxlength]").on("propertychange input", function () {
        if (this.value.length > this.maxlength) {
            this.value = this.value.substring(0, this.maxlength);
        }
    });
</script>

</html>