<div id="main">
    <div class="topo">
        <a href="/" title="Home" id="btnHome"></a>
        <h1>Dados Adulto</h1>

        <a href="javascript:window.history.go(-1)" title="Voltar" class="btnVoltar"></a>
    </div>

    {{#if errors}}
    <div class="alert alert-danger">
        <ul>
            {{#each errors}}
            <li>{{msg}}</li>
            {{/each}}
        </ul>
    </div>
    {{/if}}


    <div class="forms">
        <form method="POST" action="/cadastro/adulto">
            <input type="hidden" name="_id" />
            <input type="hidden" name="index" value="{{index}}" />
            <fieldset>
                {{>adulto1}}
            </fieldset>
            <fieldset>
                {{>adulto2}}
            </fieldset>
        </form>
    </div>
</div>

<script>
    $("input[filter=idade]").mask("000")
    $("input[filter=data]").mask("00/00/0000")
    $("input[filter=cpf]").mask('000.000.000-00', { reverse: true })
    $("input[filter=cep]").mask('00000-000')
    $("input[filter=phone]").mask(
        function (val) {
            return val.replace(/\D/g, '').length === 11 
                ? '(00) 00000-0000' 
                : '(00) 0000-00009';
        },
        {
            onKeyPress: function (val, e, field, options) {
                field.mask(SPMaskBehavior.apply({}, arguments), options);
            }
        });

    $("textarea[maxlength]").on("propertychange input", function () {
        if (this.value.length > this.maxlength) {
            this.value = this.value.substring(0, this.maxlength);
        }
    });

    $(function () {
        $('form>fieldset:eq(0)').hide();
        $('form>fieldset:eq(1)').hide();
        $('form>fieldset:eq({{index}})').show();
        $(document).on('click', '#next', function (e) {
            e.preventDefault();
            var form = $('form>fieldset');
            form.filter(':eq(0)').hide()
            form.filter(':eq(1)').show()
            $("input[name=index]").val(1);
        })
        $(document).on('click', '#previous', function (e) {
            e.preventDefault();
            var form = $('form>fieldset');
            form.filter(':eq(0)').show()
            form.filter(':eq(1)').hide()
            $("input[name=index]").val(0);
        })
    })
</script>