<div id="main">
    {{>header titulo='Arquivados'}}

    <div class="forms">
        <form>
            <!-- ESQUERDA -->
            <div id="left" class="arquivados">
                <div>
                    <ul>
                        {{#each years}}
                        <a href="/arquivados/{{_id}}">
                            <li>
                                <label>{{_id}}</label>
                            </li>
                        </a>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </form>
    </div>

</div>