<div id="main">
    {{>header titulo='Pacientes'}}

    <div class="forms">
        <!-- ESQUERDA -->
        <div id="left">
            {{#>pacientes this}}
            <li title="{{nome}}" id="{{_id}}">
                {{nome}}
                <div class="btnArq" title="Arquivar" id="{{_id}}"></div>
            </li>
            {{/pacientes}}

            <div id="menuPacientes">
                <a title="Abrir Paciente" class="btnPaciente"></a>
                <a title="Abrir Evolução" class="btnEvol"></a>
                <a title="Abrir Arquivados" class="btnArq"></a>
            </div>
        </div>

        <!-- DIREITA -->
        <div id="right">
            <div class="divTop">
                <h3>Evolução</h3>
                <div class="btnAddDelEvo" style="position: absolute;">
                    <a class="btnAdd" title="Adicionar Evolução"></a>
                </div>
                <form>
                    <input type="hidden" id="id" name="id" />
                    <div id="divEvo">
                        <ul>
                        </ul>
                    </div>
                    <button class="btnAzul">SALVAR</button>
                </form>
            </div>
        </div>

    </div>
</div>
<script>

    function findPacientes(nome) {
        $.get('/consultas/pacientes/json', { nome }, function (data) {
            var ul = $("#divPacientes ul")
            ul.children().remove()
            data.map(function (p) {
                var li = $('<li></li>', {
                    'title': p.nome,
                    'id': p._id
                }).html(p.nome)
                    .appendTo(ul)
                var div = $('<div class="btnArq" title="Arquivar"></div>')
                    .appendTo(li)
            })
        })
    }

    function find(id) {
        $.get('/consultas/evolucao/json', { id }, function (data) {
            $("#id").val(id)
            var ul = $("#divEvo ul")
            ul.children().remove()
            ul.append(data.map(item))
            ul.append(item({}, data.length))
            $('#divEvo').animate({ scrollTop: $(ul).prop("scrollHeight") }, 500);
        })
    }

    function arq(id) {
        $.post('/consultas/arquivar', { id }, function () {
            $("#" + id).remove()
            $("#divEvo ul").children().remove()
        })
    }

    function item(e, i) {
        var li = $('<li />')
        var div = $('<div />').appendTo(li)
        $('<label/>').html("Data").appendTo(div)
        $('<input/>', { name: 'evolucoes[' + i + '][data]', type: "text" }).attr("filter", "data")
            .val(e.data).appendTo(div)
        div = $('<div />').appendTo(li)
        $('<label/>').html("Descrição").appendTo(div)
        $('<textarea />', { name: 'evolucoes[' + i + '][descricao]', maxlength: 2000 })
            .html(e.descricao).appendTo(div)
        div = $('<div />', { class: "btnAddDelEvo" }).appendTo(li)
        $('<div />', { class: "btnDel" }).appendTo(div)

        return li
    }

    $(function () {

        $(document).on('click', '#divPacientes .btnArq', function () {
            var selectedId = $('#divPacientes').attr('selectedId')
            if (!confirm("Confirmar aquivamento?") || !selectedId) return
            arq(selectedId)
        })

        $('.btnPaciente').click(function () {
            var selectedId = $('#divPacientes').attr('selectedId')
            if (!selectedId) return
            location.href = "/cadastro/paciente/" + selectedId
        })

        $('.btnEvol').click(function () {
            var selectedId = $('#divPacientes').attr('selectedId')
            if (!selectedId) return
            find(selectedId)
        })

        $('#menuPacientes .btnArq').click(function () {
            location.href = "/arquivados"
        })

        $('.btnAdd').click(function () {
            var selectedId = $('#divPacientes').attr('selectedId')
            if (!selectedId) return
            var ul = $("#divEvo ul")
            ul.append(item({}, ul.children().length))
            $('#divEvo').animate({ scrollTop: $(ul).prop("scrollHeight") }, 500);
        })

        $(document).on('click', '.btnDel', function () {
            $(this).parents('li').remove()
            var ul = $("#divEvo ul")
            ul.children().each(function (i, e) {
                $(e).find("input:first").attr("name", "evolucoes[" + i + "][data]")
                $(e).find("textarea:first").attr("name", "evolucoes[" + i + "][descricao]")
            })
        })

        $("form button").click(function (e) {
            e.preventDefault();
            var data = $("form").serialize();
            $.post("/consultas/evolucao", data, function () {
                window.location = "/";
            })
        })


    })
</script>