<div id="main">
    <img src="img/logoG.png" id="logoG" />
    <ul id="menuPrinc">
        <li>
            <a href="dadosAdulto.html">
                <img src="img/iconAddAdult.png" />
            </a>
            <label>Adicionar Adulto</label>
        </li>
        <li>
            <a href="dadosCrian.html">
                <img src="img/iconAddCrian.png" />
            </a>
            <label>Adicionar Criança</label>
        </li>
        <li>
            <a href="abrirPaciente.html">
                <img src="img/iconAbrirPac.png" />
            </a>
            <label>Pacientes</label>
        </li>
    </ul>
</div>