<div id="main">
    <a href="/">
        <img src="img/logoG.png" id="logoG" />
    </a>
    <ul id="menuPrinc">
        <li>
            <a href="cadastro/adulto">
                <img src="img/iconAddAdult.png" />
            </a>
            <label>Adicionar Adulto</label>
        </li>
        <li>
            <a href="dadosCrian.html">
                <img src="img/iconAddCrian.png" />
            </a>
            <label>Adicionar Criança</label>
        </li>
        <li>
            <a href="consultas/pacientes">
                <img src="img/iconAbrirPac.png" />
            </a>
            <label>Pacientes</label>
        </li>
        <li>
            <a href="/users/logout">
                <img src="img/iconExcPac.png" />
            </a>
            <label>Sair</label>
        </li>
    </ul>
</div>