<div id="main">

    <form method="POST" action="/success">
        <button>success</button>
    </form>
    <form method="POST" action="/error1">
        <button>error 1</button>
    </form>
    <form method="POST" action="/error2">
        <button>error 2</button>
    </form>
    <script>
        $(function () {

            $("form button").click(function (e) {
                e.preventDefault();
                var form = $(this).parent()
                var url = form.attr("action")
                $.post(url, form.serialize())
                    .then(function (data) {
                        console.log("success");
                    })
                    .fail(function (req, st, err) {
                        if (Array.isArray(req.responseJSON)) {
                            for (var i in req.responseJSON)
                                console.log(req.responseJSON[i]);
                        } else {
                            console.log(req.responseText);
                        }
                    })
            })
        })
    </script>

    <a href="/">
        <img src="img/logoG.png" id="logoG" />
    </a>
    <ul id="menuPrinc">
        <li>
            <a href="cadastro/adulto">
                <img src="img/iconAddAdult.png" />
            </a>
            <label>Adicionar Adulto</label>
        </li>
        <li>
            <a href="dadosCrian.html">
                <img src="img/iconAddCrian.png" />
            </a>
            <label>Adicionar Criança</label>
        </li>
        <li>
            <a href="abrirPaciente.html">
                <img src="img/iconAbrirPac.png" />
            </a>
            <label>Pacientes</label>
        </li>
        <li>
            <a href="/users/logout">
                <img src="img/iconExcPac.png" />
            </a>
            <label>Sair</label>
        </li>
    </ul>
</div>