<div id="main">
    <div class="topo">
        <a href="index.html" title="Home" id="btnHome"></a>
        <h1>Login</h1>
    </div>

    <div class="forms">
        <form>
            <!-- ESQUERDA -->
            <div id="left">
                <div class="block">
                    <label>Login</label>
                    <input type="text" id="login" class="M" />
                </div>
                <div class="block">
                    <label>Senha</label>
                    <input type="password"  id="senha" class="M" />
                </div>
                <button type="submit" class="btnAzul">Entrar</button>
            </div>
        </form>
    </div>
</div>