<div id="main">
    <div class="topo">
        <a href="index.html" title="Home" id="btnHome"></a>
        <h1>Usuário</h1>
    </div>

    {{#if errors}}
    <div class="alert alert-danger">
        <ul>
            {{#each errors}}
            <li>{{msg}}</li>
            {{/each}}
        </ul>
    </div>
    {{/if}}

    <div class="forms">
        <form method="post" action="/users/register">
            <!-- ESQUERDA -->
            <div id="left">
                <div class="block">
                    <label>Nome</label>
                    <input type="text" name="nome" class="G" />
                </div>
                <div class="block">
                    <label>Email</label>
                    <input type="text" name="email" class="M" />
                </div>
                <div class="block">
                    <label>Senha</label>
                    <input type="password" name="senha" class="M" />
                </div>
                <div class="block">
                    <label>Repetir Senha</label>
                    <input type="password" name="senha2" class="M" />
                </div>
                <button type="submit" class="btnAzul">Salvar</button>
            </div>
        </form>
    </div>
</div>